.hero__headding{
    font-size: 28px;
    line-height: 1.5;
    color: darkblue;
    text-decoration: underline;
    text-align: center;
}

.hero__paragrf{
    font-size: 18px;
    line-height: 1.5;
}